.form {
  &__hidden {
    display: none;
  }

  &__field {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  &__label {
    display: flex;
    align-items: center;
    flex: 1;

    width: 100%;
    margin-right: 10px;

    font-weight: bold;
  }

  &__input {
    flex: 2;
    width: 100%;
    padding: 5px 10px;

    font-size: 1rem;
  }
}
