$max-width: 1200px;
$gutter: 20px;

@mixin row() {
  display: flex;

  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);
}

@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;

  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}
