/* grunn stærð fyrir em er 20px */
html { font-size: 20px; }

/* svartur 1px breiður border */
div { border: 1px solid #000; }

/* látum öll em vera með rauðan texta */
em { color: #f00; }

/* en ef þau eru beint undir div er það blátt */
div > em { color: #00f; }

/* div sem er systkini div fær 20px margin fyrir ofan sig */
div + div { margin-top: 1em; }

/* fyrsti stafur undir div.text verður 10px*2=20px */
div.text:first-letter { font-size: 2em; }

[foo]::after { content: ' foo!'; }

span:hover { background-color: #0f0; }
