html { font-size: 20px; }
/* grunn stærð fyrir em er 20px */

div { border: 1px solid #000; }
/* svartur 1px breiður border */

em { color: #f00; }
/* látum öll em vera með rauðan texta */

div > em { color: #00f; }
/* en ef þau eru beint undir div er það blátt */

div + div { margin-top: 1em; }
/* div sem er systkini div fær 20px margin fyrir ofan sig */

div.text:first-letter { font-size: 2em; }
/* fyrsti stafur undir div.text verður 10px*2=20px */

[foo]::after { content: ' foo!'; }

span:hover { background-color: #0f0; }
